# Python cache & virtualenvs
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
venv_*/

# Local configuration overrides
config/dataset_config.yaml
config/experiments.yaml
eval_audio/
wandb/

# OS junk
.DS_Store
Thumbs.db
